# <span style="color:darkblue"> Lecture 16 - Practicing Chaining </span>

<font size = "5">

In this lecture you will get a chance to practice <br>
the main dataset operations

- There will be a quiz on this lecture

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [1]:

import numpy as np
import pandas as pd

In [2]:
results  = pd.read_csv("data_raw/results.csv")
races    = pd.read_csv("data_raw/races.csv")
results["points col"] = results["points"]

# <span style="color:darkblue"> II. Review Dataset Operations </span>

<font size = "5">

See attached file for a refresher on syntax

```[] ``` $\qquad \qquad \qquad \quad$: Extracting columns <br>
```.query() ``` $\qquad \qquad $: Subsetting rows <br>
```.recode() ``` $ \qquad \quad \ \ $: Replacing values <br>
```.groupby().agg() ```: Aggregate statistics by subgroup <br>
```.rename() ``` $\qquad \quad \ \ $: Change name of columns

Full list:

<font size = "4">

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

# <span style="color:darkblue"> III. Examples of Chaining </span>

<font size = "5">

The operations with "." are read left to right

- Combine any of the above operations
- Great way to make code efficient
- The sky's the limit!


Subsetting **before** extracting columns

In [3]:
# Get data for drivers that scored more than 20 points on individual races
# Then extract the columns "driverId" and "points"
results.query('points >= 20')[["driverId","points"]]

       driverId  points
20320         4    25.0
20344        18    25.0
20368        20    25.0
20392        18    25.0
20416        17    25.0
...         ...     ...
25740       830    25.0
25760       830    25.0
25780       830    25.0
25800       847    26.0
25820       830    25.0

[262 rows x 2 columns]

<font size = "5">

Subsetting **before** aggregating

In [4]:
# This obtains a subset of drivers who competed in races 500 onwards
# then computes the average by team ("constructorId")

(results.query('raceId >= 500')
        .groupby("constructorId")
        .agg(mean_points = ("points","mean")))

               mean_points
constructorId
1                 3.148148
3                 1.904924
4                 1.903226
5                 1.203911
6                 4.910966
...                    ...
209               0.012821
210               0.809028
211               3.723684
213               2.327869
214               3.693182

[176 rows x 1 columns]

<font size = "5">

Subsetting **after** aggregating

In [5]:
# This obtains the average points by team ("constructorId"), then 
# produces a subset of team whose average is higher than 10

(results.groupby("constructorId")
        .agg(mean_points = ("points","mean"))
        .query('mean_points >= 10'))

               mean_points
constructorId
131              12.363643

<font size = "5">

Chaining inside queries + NaNs

In [6]:
# "is.na()" produces a True/False vector, checking for missing values
# "is.notna()" produces a True/False vector, checking for non-missing values
# .str.isnumeric()
results["points"].isna()
results["points"].notna()

subset_nas    = results.query('points.isna()')
subset_nonnas = results.query('points.notna()')

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)


<font size = "5">

(a) Replace the values of a column

- Obtain unique string values of a column
- Use the ".replace()" command

Hint: See Lecture 13

In [7]:
list_unique = pd.unique(results["points"])
results["points2"] = results["points"].replace(list_unique,list_unique)
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col,points2
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0,10.0
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,8.0,8.0
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.0,6.0
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.0,5.0
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,0.0,0.0
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,0.0,0.0
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,0.0,0.0
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,0.0,0.0
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,0.0,0.0

<font size = "5">

(b) Recode a numeric column

- Use the "pd.cut()" command to create <br>
a new column based on an interval.
- See Lecture 14 for more details

In [8]:
bins=[0,5,10.1]
labels=["a","b"]
results["points3"] = pd.cut(results["points"],
                              bins = bins,
                              right = False,
                              labels = labels)
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col,points2,points3
0,1,18,1,1,22,1,1,1,1,10.0,...,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0,10.0,b
1,2,18,2,2,3,5,2,2,2,8.0,...,+5.478,5696094,41,3,1:27.739,217.586,1,8.0,8.0,b
2,3,18,3,3,7,7,3,3,3,6.0,...,+8.163,5698779,41,5,1:28.090,216.719,1,6.0,6.0,b
3,4,18,4,4,5,11,4,4,4,5.0,...,+17.181,5707797,58,7,1:28.603,215.464,1,5.0,5.0,b
4,5,18,5,1,23,3,5,5,5,4.0,...,+18.014,5708630,43,1,1:27.418,218.385,1,4.0,4.0,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,...,\N,\N,39,12,1:29.833,211.632,11,0.0,0.0,a
25836,25842,1096,825,210,20,16,17,17,17,0.0,...,\N,\N,40,20,1:31.158,208.556,11,0.0,0.0,a
25837,25843,1096,1,131,44,5,18,18,18,0.0,...,\N,\N,42,11,1:29.788,211.738,9,0.0,0.0,a
25838,25844,1096,849,3,6,20,19,19,19,0.0,...,\N,\N,45,14,1:30.309,210.517,130,0.0,0.0,a
25839,25845,1096,4,214,14,10,\N,R,20,0.0,...,\N,\N,24,17,1:30.579,209.889,47,0.0,0.0,a

<font size = "5">

(c) Aggregate and query

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .query() ``` <br>
``` .groupby().agg() ``` <br>

In [17]:

teamrace_agg = (results.query("raceId >= 500")
                       .groupby(["raceId","constructorId"])
                        .agg(mean_points = ('points','mean'),
                             sd_points =   ('points','std'),
                             min_points =  ('points','min'),
                             max_points =  ('points','max'),
                             count_obs   = ('points',len)))
teamrace_agg

j=(results.query("raceId>=100").groupby("driverId").agg(m=('points','mean')))
j.query('m<=20')

                  m
driverId
1         16.048450
2          0.722222
3         11.169118
4          6.042471
5          0.000000
...             ...
852        1.000000
853        0.000000
854        0.272727
855        0.272727
856        2.000000

[844 rows x 1 columns]

<font size = "5">

(d) Aggregate and sort

- Use a combniation of the following commands <br>
to produce a new dataset <br>
``` .groupby().agg() ``` <br>
``` .sort_values() ```

In [24]:
constructor_agg = (results.groupby("constructorId")
                          .agg(mean_points = ("points","mean"))
                          .sort_values("mean_points",ascending = False))


constructor_agg

               mean_points
constructorId
131              12.363643
9                 9.117816
23                5.058824
208               4.584416
6                 4.317968
...                    ...
76                0.000000
77                0.000000
78                0.000000
130               0.000000
112               0.000000

[210 rows x 1 columns]

<font size = "5">

(e) Rename column

- Create a dictionary
- Rename one or more columns in a dataset <br>
using the dictionary

In [32]:
dict_rename_circuits = {"points3": "pt3"}
results = results.rename(columns = dict_rename_circuits)
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,points col,pt3
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,10.0,b
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,8.0,b
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,6.0,b
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5.0,b
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,4.0,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11,0.0,a
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11,0.0,a
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9,0.0,a
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130,0.0,a
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47,0.0,a

<font size = "5">

(f) Merge dataset

- Use "pd.merge" to combine two datasets: <br>
a primary and secondary
- Only merge a subset of the columns of the <br>
secondary dataset
- Use "display" to show a the merged dataset,  <br>
extracting a subset of the columns

In [33]:
racesm = pd.merge(races,
                        races,
                        on = "circuitId",
                        how = "left")
racesm

,raceId_x,year_x,round_x,circuitId,name_x,date_x,time_x,url_x,fp1_date_x,fp1_time_x,...,fp1_date_y,fp1_time_y,fp2_date_y,fp2_time_y,fp3_date_y,fp3_time_y,quali_date_y,quali_time_y,sprint_date_y,sprint_time_y
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36641,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
36642,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
36643,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,2021-12-10,\N,2021-12-10,\N,2021-12-11,\N,2021-12-11,\N,\N,\N
36644,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,2022-11-18,10:00:00,2022-11-18,13:00:00,2022-11-19,11:00:00,2022-11-19,14:00:00,\N,\N
36645,1120,2023,23,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N